{% load staticfiles%}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <link href="{% static 'bootstrapcdn.css'%}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="loginbox">
        <div class="glass">
            <img src="{% static 'user.png' %}" class="user">
            <h3>Sign In</h3>
            <form name="userlogin" method="post" class='inputbox'>
                <span class="abc">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <span class="xyz">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                {% csrf_token %} {{ form.as_p }}


                <input type="submit" name="login">
            </form>
        </div>
    </div>
</body>

</html>